<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentDAO">
	<insert id="insert">
		insert into comments values(comments_seq.nextval(),#{comments},#{writer},#{postNum},#{ip},#{writeDate})
	</insert>
	<select id="selectCm" resultType="kh.spring.dto.CommentsDTO">
		select * from comments where postNum = #{postNum}
	</select>



</mapper>